<section id="intro-section" class="view" id="accueil">
  <div class="mask d-flex justify-content-center align-items-center">
    <div class="container px-md-3 px-sm-0">
      <div class="row">
        <div class="col-md-12 mb-4 text-center">
          <div class="avatar justify-content-center mt-5">
            <img src="assets/images/me.jpg" class="mx-auto rounded-circle z-depth-1"
            alt="Photos de profil">
          </div>
          <h1 class="h1-responsive display-3 font-weight-bold mb-0 pt-md-5 pt-5">Avotra RAKOTOSON</h1>
          <hr class="hr-dark my-4 w-75">
          <h3 class="subtext-header mt-2 mb-4">Développeur Informatique Indépendant</h3>
          <button mdbBtn color="blue" rounded="true" outline="true" mdbWavesEffect (click)="scrollTo('contact')">
            <i class="fas fa-home"></i> Contactez-moi
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
