<section class="section pt-5" id="apropos">
    <div class="container">
        <h2 class="pt-5 pb-4 font-weight-bold text-body text-center">Présentation</h2>
        <p class="px-5 mb-5 py-3 lead grey-text">
            Tout ce qui concerne au développement d'applications informatique et système embarqué me <strong class="passion">passionne</strong> vraiment.
            Quand j’ai commencé à coder c’était il y a environ 5 ans, je souhaitais simplement créer un site internet et c'est rapidement devenu une vraie vocation pour moi.
        </p>
        
        <div class="row">
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.6s">
                <div class="row mb-2">
                    <div class="col-2">
                    <i class="fas fa-2x fa-flag-checkered cyan-text"></i>
                    </div>
                    <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Etude universitaire</h5>
                    <p class="grey-text">
                        J'ai eu mon licence en développement d'applictions informatique en 2017 (DAI).
                        Après j'ai commencé à entrer profondement dans le domaine  "Web Programming"
                    </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-2 center-on-small-only flex-center wow fadeInUp" data-wow-delay="0.5s">
                <img src="assets/images/apropos.jpg" alt="A propos" class="z-depth-0 apropos-logo">
            </div>
        
            <div class="col-md-4 wow fadeInRight" data-wow-delay="0.6s">
                <div class="row mb-2">
                    <div class="col-2">
                    <i class="fas fa-2x fa-heart cyan-text"></i>
                    </div>
                    <div class="col-10 text-left">
                    <h5 class="font-weight-bold">Actuellement</h5>
                    <p class="grey-text">
                        Je prépare actuellement un master en MBDS (Mobiquité, Base de Données/Big Data, et intégration de Systèmes).
                    </p>
                    </div>
                </div>    
            </div>        
        </div>
    </div>
</section>

<section class="mt-5 blue cv">
    <div class="py-5 font-weight-bold text-center">
        <p class="white-text wow fadeInLeft">
            Vous souhaitez avoir mon CV au format PDF c'est par:
        </p>
        <a href="#!" class="wow fadeInRight" mdbBtn color="white" rounded="true" outline="true" mdbWavesEffect>Ici</a>
    </div>
</section>
