<!-- Footer -->
<footer class="page-footer white-text font-small bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-2">
        <div class="mb-5 flex-center">
          <a href="https://www.linkedin.com/in/avotra-niaina-rakotoson-763a52165/" class="li-ic p-4" target="_blank">
            <i class="fab fa-linkedin-in fa-lg  fa-2x"> </i>
          </a>
          <a href="https://twitter.com/AvotraNiaina1" class="tw-ic p-4" target="_blank">
            <i class="fab fa-twitter fa-lg  fa-2x"> </i>
          </a>
          <a href="https://github.com/AvotraNR" class="github-ic p-4" target="_blank">
            <i class="fab fa-github fa-lg  fa-2x"> </i>
          </a>
          <a href="https://www.facebook.com/avotraniaina.rakotoson?ref=bookmarks" class="fb-ic p-4" target="_blank">
            <i class="fab fa-facebook-f fa-lg  fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3"><h6>© 2019 Copyright - Tous droits réservés - Avotra Rakotoson</h6></div>
</footer>